--
-- PostgreSQL database dump
--

\restrict WdF7QNfrXtGyRMDKdtTwsOvOug8cDQXOD6NxDqy9WfIQf8ahHKGvpItyxAtfNge

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: set_updated_at(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.set_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.set_updated_at() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cameras; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cameras (
    camera_id bigint NOT NULL,
    camera_code character varying(50) NOT NULL,
    camera_name character varying(100) NOT NULL,
    location_name character varying(200),
    speed_limit numeric(5,2) NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    road_range jsonb,
    road_width numeric(10,2),
    road_depth numeric(10,2),
    video_width integer,
    video_height integer,
    scale_lines jsonb,
    scale_distances jsonb,
    CONSTRAINT cameras_speed_limit_check CHECK ((speed_limit >= (0)::numeric))
);


ALTER TABLE public.cameras OWNER TO postgres;

--
-- Name: COLUMN cameras.scale_lines; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.cameras.scale_lines IS '譛螟ｧ10譛ｬ縺ｮ騾溷ｺｦ險域ｸｬ逕ｨ繝ｩ繧､繝ｳ (No.0・・). 蜷・ｦ∫ｴ: {no:int, points:[[x1,y1],[x2,y2]]}';


--
-- Name: COLUMN cameras.scale_distances; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.cameras.scale_distances IS '髫｣謗･繝ｩ繧､繝ｳ髢楢ｷ晞屬[m]縺ｮ驟榊・. 隕∫ｴ謨ｰ縺ｯ max(0, 邱壽焚-1). NULL 隕∫ｴ縺ｯ譛ｪ險ｭ螳壹ｒ諢丞袖縺吶ｋ';


--
-- Name: cameras_camera_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cameras_camera_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cameras_camera_id_seq OWNER TO postgres;

--
-- Name: cameras_camera_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cameras_camera_id_seq OWNED BY public.cameras.camera_id;


--
-- Name: vehicle_violation_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vehicle_violation_events (
    event_id bigint NOT NULL,
    vehicle_id bigint,
    camera_id bigint,
    detected_at timestamp without time zone NOT NULL,
    measured_speed numeric(5,2) NOT NULL,
    speed_limit numeric(5,2) NOT NULL,
    excess_speed numeric(5,2) NOT NULL,
    vehicle_color character varying(30),
    vehicle_type character varying(30),
    plate_number character varying(4),
    vehicle_image_path text,
    plate_image_path text,
    track_id character varying(100),
    status character varying(20) DEFAULT 'new'::character varying NOT NULL,
    note text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT vehicle_violation_events_excess_speed_check CHECK ((excess_speed >= (0)::numeric)),
    CONSTRAINT vehicle_violation_events_measured_speed_check CHECK ((measured_speed >= (0)::numeric)),
    CONSTRAINT vehicle_violation_events_speed_limit_check CHECK ((speed_limit >= (0)::numeric))
);


ALTER TABLE public.vehicle_violation_events OWNER TO postgres;

--
-- Name: vehicle_violation_events_event_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.vehicle_violation_events_event_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.vehicle_violation_events_event_id_seq OWNER TO postgres;

--
-- Name: vehicle_violation_events_event_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.vehicle_violation_events_event_id_seq OWNED BY public.vehicle_violation_events.event_id;


--
-- Name: vehicles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vehicles (
    vehicle_id bigint NOT NULL,
    plate_number character varying(4),
    vehicle_type character varying(30),
    violation_count integer DEFAULT 0 NOT NULL,
    first_violation_at timestamp without time zone,
    last_violation_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT vehicles_violation_count_check CHECK ((violation_count >= 0))
);


ALTER TABLE public.vehicles OWNER TO postgres;

--
-- Name: vehicles_vehicle_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.vehicles_vehicle_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.vehicles_vehicle_id_seq OWNER TO postgres;

--
-- Name: vehicles_vehicle_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.vehicles_vehicle_id_seq OWNED BY public.vehicles.vehicle_id;


--
-- Name: cameras camera_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cameras ALTER COLUMN camera_id SET DEFAULT nextval('public.cameras_camera_id_seq'::regclass);


--
-- Name: vehicle_violation_events event_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicle_violation_events ALTER COLUMN event_id SET DEFAULT nextval('public.vehicle_violation_events_event_id_seq'::regclass);


--
-- Name: vehicles vehicle_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicles ALTER COLUMN vehicle_id SET DEFAULT nextval('public.vehicles_vehicle_id_seq'::regclass);


--
-- Data for Name: cameras; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: vehicle_violation_events; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: vehicles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: cameras_camera_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cameras_camera_id_seq', 21, true);


--
-- Name: vehicle_violation_events_event_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.vehicle_violation_events_event_id_seq', 1076, true);


--
-- Name: vehicles_vehicle_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.vehicles_vehicle_id_seq', 1063, true);


--
-- Name: cameras cameras_camera_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cameras
    ADD CONSTRAINT cameras_camera_code_key UNIQUE (camera_code);


--
-- Name: cameras cameras_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cameras
    ADD CONSTRAINT cameras_pkey PRIMARY KEY (camera_id);


--
-- Name: vehicle_violation_events vehicle_violation_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicle_violation_events
    ADD CONSTRAINT vehicle_violation_events_pkey PRIMARY KEY (event_id);


--
-- Name: vehicles vehicles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicles
    ADD CONSTRAINT vehicles_pkey PRIMARY KEY (vehicle_id);


--
-- Name: vehicles vehicles_plate_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicles
    ADD CONSTRAINT vehicles_plate_number_key UNIQUE (plate_number);


--
-- Name: cameras trg_cameras_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_cameras_updated_at BEFORE UPDATE ON public.cameras FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: vehicle_violation_events trg_vehicle_violation_events_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_vehicle_violation_events_updated_at BEFORE UPDATE ON public.vehicle_violation_events FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: vehicles trg_vehicles_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_vehicles_updated_at BEFORE UPDATE ON public.vehicles FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: vehicle_violation_events fk_vehicle_violation_events_camera; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicle_violation_events
    ADD CONSTRAINT fk_vehicle_violation_events_camera FOREIGN KEY (camera_id) REFERENCES public.cameras(camera_id);


--
-- Name: vehicle_violation_events fk_vehicle_violation_events_vehicle; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicle_violation_events
    ADD CONSTRAINT fk_vehicle_violation_events_vehicle FOREIGN KEY (vehicle_id) REFERENCES public.vehicles(vehicle_id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO vehicle_speed_app;


--
-- Name: TABLE cameras; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.cameras TO vehicle_speed_app;


--
-- Name: SEQUENCE cameras_camera_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE public.cameras_camera_id_seq TO vehicle_speed_app;


--
-- Name: TABLE vehicle_violation_events; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.vehicle_violation_events TO vehicle_speed_app;


--
-- Name: SEQUENCE vehicle_violation_events_event_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE public.vehicle_violation_events_event_id_seq TO vehicle_speed_app;


--
-- Name: TABLE vehicles; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.vehicles TO vehicle_speed_app;


--
-- Name: SEQUENCE vehicles_vehicle_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE public.vehicles_vehicle_id_seq TO vehicle_speed_app;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO vehicle_speed_app;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO vehicle_speed_app;


--
-- PostgreSQL database dump complete
--

\unrestrict WdF7QNfrXtGyRMDKdtTwsOvOug8cDQXOD6NxDqy9WfIQf8ahHKGvpItyxAtfNge

